.color { 

	h3 {
	  margin-bottom: 11px; 
	}

	checkbox {
		width: 60px;
	  	height: 63px;
	  	//box-sizing: border-box;
	  	border: 0;
	  	margin-right: 6px;

		img {
		  	width: 60px;
		  	height: 63px;
		  	vertical-align: middle;
		  	opacity: 0.75; 
		}
	}	
}