.all-slider {
	display: inline-block;
	margin: 39px 43px 82px 0; 
	width: 570px;
	height: 660px;

	.slider {
		width: 570px;
		height: 660px;
	  	//width:500px;
	  	//height: 300px;
	  	//margin: 100px auto;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
	}

	img {
		width: 570px;
		height: 660px;
	}

	.img {
		width: 570px;
		height: 660px;
		position:absolute;
		display: none;
	}

	.img.curry{
			display: block;
	}

	.img:first-child {
			width: 570px;
	}

	.img:nth-child(2) {
			width: 570px;
	}

	.n {
		color: #575757
	}

	a {
		text-decoration: none;
		color: #FD7EAD;
		font-size: 20px;
	}

	.prev {
		position: relative;
		top: 330px;
		height: 0;
		z-index: 1;

		img {
			width: 30px;
			height: 30px;
		}
	}

	.next {
		position: relative;
		left: 530px;
		height: 0;
		bottom: 330px;
		z-index: 1;

		img {
			width: 30px;
			height: 30px;
		}

	}
}