@import "product-details/slider";
@import "product-details/color";

.product-details {
	display: flex;

	.breadcrumbs {
  		width: 150px;
  		display: flex;
  		margin: 40px 0 25px 0;
  		font-size: 14px;

  		 a {	
  		 	position: relative;
  		 	padding-right: 2.36em;

		    &::after {
		      position: absolute;
		      content: "";
		      top: 50%;
		      right: 1em;
		      background: url(../img/breadcrumbs-arrow.svg) center/contain no-repeat;
		      width: 0.36em;
		      height: 0.57em;
		      transform: translateY(-50%);

			}
		}
	}

	.configuration {
		width: $width-right;
		display: flex;
		flex-direction: column;
	}

	.size {
	  font-weight: 900;
	  margin-top: 30px;
	  margin-bottom: 12px;
	}

	.size-selector {
		width: 274px;
		height: 97px;
	}

	table {
		font-size: 14px;
		text-align: center;
	}

	td {
		width: 34px;
		height: 17px;
		padding: 0 6px 19px 0;
	}

	

	.choose {
		position: relative;
		background-color: red;
		border-radius: 50%;
		//z-index: 1;
	}


	 

		//button {
		//	@extend %button;
		//}
	}

