@import "product-details/slider";
@import "product-details/color";
@import "product-details/size";

.product-details {
	margin-top: 40px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 84px;

	.breadcrumbs {
  		width: 150px;
  		display: flex;
  		margin: 0 0 25px 0;
  		font-size: 14px;

  		 a {	
  		 	position: relative;
  		 	padding-right: 2.36em;

		    &::after {
		      position: absolute;
		      content: "";
		      top: 50%;
		      right: 1em;
		      background: url(../img/breadcrumbs-arrow.svg) center/contain no-repeat;
		      width: 0.36em;
		      height: 0.57em;
		      transform: translateY(-50%);

			}
		}
	}

	

	.cost {
		 font-size: 24px;
		 margin: 12px 0 47px
	}

	.configuration {
		width: $width-right;
		display: flex;
		flex-direction: column;

	.buy-buttons button {
		@extend %button;
		width: 100%;
		margin-top: 9px;

		&.one-click {
			background-color: #333;
		}
	}
	}
}

