.product-details
	.slider(data-slider)
		.nav
			button.prev(data-slider-nav="prev" disabled) Предыдущий слайд
			button.next(data-slider-nav="next") Следующий слайд
		.wrap(data-slider-wrap)
			.slide(style="background-image: url(img/beige.jpg);")
			.slide(style="background-image: url(img/green.jpg);")
			.slide(style="background-image: url(img/beige.jpg);")
			.slide(style="background-image: url(img/green.jpg);")
	.configuration
		nav.breadcrumbs
			a(href="#") Home 							
			a(href="#") Men
			span Shoes
		h1 Crazylight Boost Low 2016 Shoes
		span.cost $9.90
		.color
			h3 Color
			.buttons
				checkbox
					//input(type="checkbox")
					img(src="img/beige.jpg")
				checkbox
					//input(type="checkbox")
					img(src="img/green.jpg")
		.size
			h3 Size
			.size-selector
				button.choose 4
				button 4.5
				button 5
				button 5.5
				button 6
				button 6.5
				button 7
				button 7.5
				button 8
				button 8.5
				button 9
				button 9.5
				button 10
				button 10.5
				button 11
				button 11.5
				button 12
				button 12.5
				button 13
		//.size
			h3 Size
			table.size-selector
				tr
					td.choose 4
					td 4.5
					td 5
					td 5.5
					td 6
					td 6.5
					td 7
				tr
					td 7.5
					td 8
					td 8.5
					td 9
					td 9.5
					td 10
					td 10.5
				tr
					td 11
					td 11.5
					td 12
					td 12.5
					td 13
		.buy-buttons
			button Add to bag
			button.one-click 1-click checkout