extends layouts/template.jade

block variables
	- title="Главная страница"

block content
	include sections/header.jade
	.Casual-01-PDP
		main.content
			include index/product-details.jade	
			include index/about.jade
			include sections/footer.jade