%button {
  	display: inline-block;
  	//width: 467px;
  	//height: 58px;
  	font-size: 20px;
  	font-weight: 900;
  	line-height: 58px;
  	text-align: center;
  	color: white;
	padding: 0 1em;
	cursor: pointer;
	border-radius: 8px;
	//border: 2px solid $color-active;
	background-color: $color-active;
}