header.menu
	.nav
		a.logo(href="#") Casual
		.categories
			a(href="#") Women
			a(href="#") Men
			a(href="#") Kids
			a(href="#") Sports
			a(href="#") Brands
		form.search 
			.text-input
				input(placeholder="Search...", type="text") 
	.user
		a(href="#") Log in
		.my-cart
			a(href="#") My cart
			span.notification 2
		

			